.with-header li {
    color: white;
}




.with-header .collection-header {
    border-top: none;
}

.card, #largeimage, #gallaryimages li a img {
    border: 2px solid #db1000;
}

div#gallery li {
 padding-right: 10px;
 display: inline;
}